/* Global */

html,
body,
#__next {
	height: 100%;
	min-height: 100%;
}
code {
	letter-spacing: -0.05em;
}

h1 {
	font-size: calc(1.75rem);
	font-weight: 700;
}

h2 {
	font-weight: 400;
}
h3 {
	font-weight: 700;
}
h4 {
	font-weight: 400;
}
h5 {
	font-weight: 700;
}
h6 {
	font-weight: 700;
}

.progress-relative {
	background-color: transparent;
}

.w-2rem {
	width: 2rem;
}

.close-view-icon {
	margin: 1rem;
	padding: 0.75rem;
	font-size: 1.5rem;
	vertical-align: middle;
	line-height: 0;
	background-color: inherit !important;
	border-color: transparent !important;
}
.close-view-icon:hover {
	background-color: var(--fn-gray-200) !important;
	border-color: var(--fn-gray-200) !important;
}

/*START Font Awesome Customization*/
.svg-inline--fa.fa-bell,
.svg-inline--fa.fa-copy,
.svg-inline--fa.fa-check,
.svg-inline--fa.fa-bell-slash,
.svg-inline--fa.fa-gear,
.svg-inline--fa.fa-sm {
	vertical-align: -0.25em;
}
/*END Font Awesome Customization*/

/*START dropdowns*/
.dropdown-toggle::after,
.dropdown-toggle::before {
	display: none !important;
}
.dropdown-danger {
	color: var(--fn-danger);
}
.dropdown-danger:hover {
	color: var(--fn-danger);
	background-color: var(--fn-gray-100);
}
.dropdown-danger:focus-visible {
	color: var(--fn-danger);
	outline-color: var(--fn-danger);
}
.dropdown-danger:active {
	color: var(--fn-black);
	background-color: var(--fn-danger);
}

.dropdown-upgrade {
	color: var(--fn-gray-900);
	background-color: var(--fn-brand);
}
.dropdown-upgrade:hover {
	color: var(--fn-black);
	background-color: var(--fn-brand-light);
}

/*END dropdowns*/

/*START reset button color*/
.btn:hover,
.btn:focus {
	color: var(--fn-black);
	background-color: var(--fn-gray-200);
}
.btn-primary:hover,
.btn-primary:focus {
	color: var(--fn-black);
	background-color: var(--fn-brand-light);
	border-color: var(--fn-brand-light);
}
.btn-secondary {
	background: var(--fn-gray-200);
	border-color: var(--fn-gray-200);
}
.btn-secondary:hover,
.btn-secondary:focus {
	background: var(--fn-gray-300);
	border-color: var(--fn-gray-300);
}
.btn-white:hover,
.btn-white:focus {
	background: var(--fn-gray-200);
	border-color: var(--fn-gray-200);
}
.btn-gitlab,
.btn-github {
	color: #eff1f4;
}
.btn-gitlab:hover,
.btn-gitlab:focus {
	background-color: var(--fn-gitlab-light);
	border-color: var(--fn-gitlab-light);
	color: #fff;
}
.btn-github:hover,
.btn-github:focus {
	background-color: var(--fn-github-light);
	border-color: var(--fn-github-light);
	color: #fff;
}
/*END reset button color*/

/*START reset button color*/
.table-header {
	color: var(--fn-dark);
}
.table-header:hover {
	color: var(--fn-black);
}
/*END reset button color*/

/* Remove arrows for number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
