{% extends "base.html" %}

{% block post_title %}Launch Device Reminder{% endblock %}

{% block content %}

<p>
    {{ name }},
</p>

<p>
    This is your weekly reminder to begin your self-hosting journey by launching a Device! The only requirement is <a href="https://docs.docker.com/get-docker" style="overflow-wrap: anywhere; color: #000000; text-decoration: underline;" target="_blank">Docker</a>.

    Get started by navigating to the <a href="https://console.fractalnetworks.co" style="overflow-wrap: anywhere; color: #000000; text-decoration: underline;" target="_blank">Console</a>.
</p>

{% endblock %}
