{% extends "base.html" %}
{% block title %}Welcome to Fractal Mosaic{% endblock %}

{%block preheader%}
Hi {{ name }},

Thanks for signing up for Fractal Mosaic.

To get started, launch your first device via the Console. Docker is the only requirement.

Taking ownership of your digital existence is no easy feat, but we are here to support you on your journey to digital self-reliance. Please do not hesitate to reach out to us at support@fractalnetworks.co or via Discord / Matrix if you have any questi
{% endblock %}
{% block post_title %}Welcome to Fractal Mosaic{% endblock %}

{% block content %}
  <tr>
      <td class="feature-image feature-image-with-caption" style="font-family: -apple-system, BlinkMacSystemFont, &#39;Segoe UI&#39;, Roboto, Helvetica, Arial, sans-serif, &#39;Apple Color Emoji&#39;, &#39;Segoe UI Emoji&#39;, &#39;Segoe UI Symbol&#39;; font-size: 18px; vertical-align: top; color: #15212A; width: 100%; padding-bottom: 10px;" width="100%" valign="top"><img src="https://images.unsplash.com/photo-1526393771783-4d5878b4bea8?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDUyfHxmcmVlZG9tfGVufDB8fHx8MTY2OTY1Njg2Nw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1200" width="600" style="border: none; -ms-interpolation-mode: bicubic; max-width: 100%;"></td>
  </tr>


  <tr>
      <td class="feature-image-caption" align="center" style="font-family: -apple-system, BlinkMacSystemFont, &#39;Segoe UI&#39;, Roboto, Helvetica, Arial, sans-serif, &#39;Apple Color Emoji&#39;, &#39;Segoe UI Emoji&#39;, &#39;Segoe UI Symbol&#39;; vertical-align: top; width: 100%; padding-bottom: 30px; text-align: center; font-size: 13px; color: #738a94;" width="100%" valign="top">Photo by <a href="https://unsplash.com/@jontyson?utm_source=ghost&amp;utm_medium=referral&amp;utm_campaign=api-credit" style="color: #000000; text-decoration: none; overflow-wrap: anywhere;" target="_blank">Jon Tyson</a> / <a href="https://unsplash.com/?utm_source=ghost&amp;utm_medium=referral&amp;utm_campaign=api-credit" style="color: #000000; text-decoration: none; overflow-wrap: anywhere;" target="_blank">Unsplash</a></td>
  </tr>

  <tr>
      <td class="post-content-sans-serif" style="font-family: -apple-system, BlinkMacSystemFont, &#39;Segoe UI&#39;, Roboto, Helvetica, Arial, sans-serif, &#39;Apple Color Emoji&#39;, &#39;Segoe UI Emoji&#39;, &#39;Segoe UI Symbol&#39;; vertical-align: top; font-size: 17px; line-height: 1.5em; color: #15212A; padding-bottom: 20px; border-bottom: 1px solid #e5eff5; max-width: 600px;" valign="top">
          <!-- POST CONTENT START -->
          <p style="margin: 0 0 1.5em 0; line-height: 1.6em;">Hi {{ name }},</p><p style="margin: 0 0 1.5em 0; line-height: 1.6em;">Thanks for signing up for Fractal Mosaic. </p><p style="margin: 0 0 1.5em 0; line-height: 1.6em;">To get started, launch your first device via the <a href="https://console.fractalnetworks.co" style="overflow-wrap: anywhere; color: #000000; text-decoration: underline;" target="_blank">Console</a>. Docker is the only requirement.</p><p style="margin: 0 0 1.5em 0; line-height: 1.6em;">Taking ownership of your digital existence is no easy feat, but we are here to support you on your journey to digital self-reliance. Please do not hesitate to reach out to us at support@fractalnetworks.co or via <a href="https://discord.gg/mCpqUQg4cu" style="overflow-wrap: anywhere; color: #000000; text-decoration: underline;" target="_blank">Discord </a> / <a href="https://matrix.to/#/#fractal:ether.ai" style="overflow-wrap: anywhere; color: #000000; text-decoration: underline;" target="_blank">Matrix</a> if you have any questions or concerns.</p><p style="margin: 0 0 1.5em 0; line-height: 1.6em;">Please keep these important points in mind as you familiarize yourself with Fractal Mosaic</p><ol style="margin: 0 0 1.5em 0; line-height: 1.6em; padding-left: 1.3em; padding-right: 1.5em; list-style: decimal; max-width: 100%;"><li style="margin: 0.5em 0; padding-left: 0.3em; line-height: 1.6em;">Fractal Mosaic is experimental software. We need your feedback to improve it.</li><li style="margin: 0.5em 0; padding-left: 0.3em; line-height: 1.6em;">We recommend opting-in to automatic updates. A summary of updates and their included changes can be reviewed <a href="https://updates.fractalnetworks.co" style="overflow-wrap: anywhere; color: #000000; text-decoration: underline;" target="_blank">here</a>.</li><li style="margin: 0.5em 0; padding-left: 0.3em; line-height: 1.6em;">Security and Privacy are paramount to us. Please review our <a href="https://security.fractalnetworks.co" style="overflow-wrap: anywhere; color: #000000; text-decoration: underline;" target="_blank">security disclosure guidelines</a> or contact security@fractalnetworks.co to reach our security team.</li></ol><p style="margin: 0 0 1.5em 0; line-height: 1.6em;">Regards,</p><p style="margin: 0 0 1.5em 0; line-height: 1.6em;">Fractal Networks Engineering</p>
          <!-- POST CONTENT END -->
      </td>
  </tr>
{% endblock %}
