.picture__circle {
	overflow: hidden;
	border-radius: 50%;
	background-color: var(--fn-body-bg);
}
.picture__sm {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1rem;
	height: 1rem;
	padding: 0;
}
.picture__md {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	padding: 0;
}
.picture__lg {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;

	padding: 0;
	font-size: 1.25rem;
}
.picture__xl {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	width: 5rem;
	height: 5rem;
	padding: 0;
}
.picture__active {
	border: 0.125rem solid var(--fn-black);
	background-color: var(--fn-white);
	color: var(--fn-black);
}
.picture__img {
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
}
.picture__status {
	display: block;
	position: absolute;
	top: 1.625rem;
	left: 1.875rem;
	border: 2px solid var(--fn-gray-200);
	line-height: 0;
}
.picture__appDetailContainer {
	display: block;
	height: auto;
}
.picture__appDetailIcon {
	width: 100%;
	min-height: auto;
	object-fit: cover;
}
