.centerGrid {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
	gap: 1rem;
}
.centerList {
	padding: 1rem;
	display: grid;
	margin: 0 auto;
	grid-template-columns: repeat(auto-fill, minmax(18rem, 34.75rem));
	gap: 1rem;
}
.centerListHeader {
	position: sticky;
	top: 0;
	display: grid;
	margin: 0 auto;
	grid-template-columns: repeat(auto-fill, minmax(18rem, 34.75rem));
	padding: 1rem 1rem 0.5rem 1rem;
	z-index: 1;
	background-color: var(--fn-body-bg);
}
