.mobilenav {
	--fn-red-light: #d07d7d;
	--fn-red: #b85b5b;
	--fn-red-dark: #904444;
	--fn-green-light: #50a561;
	--fn-green: #008a32;
	--fn-green-dark: #006a25;
	--fn-blue-light: #7495d1;
	--fn-blue: #4878be;
	--fn-blue-dark: #345d8c;
	--fn-yellow: #987102;
	--fn-brand-light: #ff595a;
	--fn-brand: #dd3839;
	--fn-brand-dark: #bb0408;
	--fn-brand-max: #ef0005;
	--fn-github-light: #3e4348;
	--fn-github: #24292f;
	--fn-github-dark: #06121d;
	--fn-gitlab-light: #fc5e49;
	--fn-gitlab: #da3e20;
	--fn-gitlab-dark: #af2800;
	--fn-white: #fff;
	--fn-gray: #75777c;
	--fn-black: #000;
	--fn-gray-100: #eff1f4;
	--fn-gray-200: #cfd1d5;
	--fn-gray-300: #b0b2b5;
	--fn-gray-400: #929498;
	--fn-gray-500: #75777c;
	--fn-gray-600: #595b5f;
	--fn-gray-700: #404145;
	--fn-gray-800: #27282b;
	--fn-gray-900: #101112;
	--fn-primary: #dd3839;
	--fn-secondary: #cfd1d5;
	--fn-dark: #27282b;
	--fn-success: #008a32;
	--fn-warning: #987102;
	--fn-danger: #b85b5b;
	--fn-gitlab: #da3e20;
	--fn-github: #24292f;
	--fn-font-sans-serif: "Source Sans 3 VF", "Source Sans Pro", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--fn-font-monospace: "Source Code Variable", "Source Code Pro", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--fn-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
	--fn-body-font-family: var(--fn-font-sans-serif);
	--fn-body-font-size: 1rem;
	--fn-body-font-weight: 400;
	--fn-body-line-height: 1.5;
	--fn-body-color: var(--fn-gray-900);
	--fn-body-bg: var(--fn-gray-100);

	background-color: var(--fn-white);
	font-size: 16px;
	position: sticky;
	bottom: 0;
	z-index: 999;
	padding: 4px 0;
}

.mobilenav__container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
	gap: 1rem;
}

.mobilenav__link {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	font-family: var(--fn-body-font-family);
	font-size: 14px;
	font-weight: 400 !important;
	letter-spacing: initial !important;
	line-height: 16px !important;
	text-transform: initial !important;
	color: var(--fn-gray-600) !important;
	text-align: center;
	opacity: 1;
	gap: 2px;
	border-radius: 4px;
	padding: 6px 4px 4px 4px;
}
.mobilenav__link::after {
	display: none;
}
.mobilenav__link:hover{
	color: var(--fn-gray-900) !important;
	background-color: var(--fn-gray-200);
}
.mobilenav__link:focus{
	outline: none;
	color: var(--fn-gray-900) !important;
	background-color: var(--fn-gray-200);
	box-shadow: 0 0 0 4px var(--fn-gray-300) !important;
}
.mobilenav__link:focus:not(:hover) {
	outline: none;
}


.mobilenav__linkactive {
	font-weight: 700 !important;
	color: var(--fn-body-color) !important;
}

@media (min-width: 576px) {
	.mobilenav {
		display: none;
	}
}