.githubStars {
	display: flex;
	gap: 0.25rem;
	align-items: center;
	line-height: 1.5;
	color: var(--fn-gray-600);
	padding: 0.25rem 0.5rem;
	background-color: var(--fn-gray-100);
	border-radius: 5px;
}
.githubStars__number {
	font-size: 0.875rem;
}
